@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Dancing Script', cursive; /* Apply the cursive font globally */
  background-image: url('https://img.freepik.com/premium-photo/library-with-green-couch-large-window-with-large-window-that-says-house-is-other-side_899894-12187.jpg'); /* Add your background image URL here */
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

